<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- 开机完成 → 重新设置提醒 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 通知权限（Android 13+） -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 精确闹钟（Android 12+） -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- 在已有的 SCHEDULE_EXACT_ALARM 下面再加一行 -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <!-- 前台服务类型（Android 14+） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdaptiveStudyTracker">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditTaskActivity" />
        <activity android:name=".TaskHistoryActivity" />

        <activity
            android:name=".CalendarImportActivity"
            android:exported="false" />



        <!-- ===== Amy's Reminder Receiver ===== -->
        <receiver
            android:name=".ReminderBroadcastReceiver"
            android:exported="false" />

        <!-- ===== Amy's Boot Receiver ===== -->
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- ===== Amy's Phone Usage Tracking front service ===== -->
        <service
            android:name=".PhoneUsageTrackingService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

    </application>

</manifest>